.home-container {
  max-width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: var(--page-padding);
  background: transparent;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .home-container {
    align-items: stretch;
  }
}
